<div class="post-heading">
    <h1><%= aPost.title %></h1>
    <header class="masthead" style="background-image: url(<%= aPost.image %>)"></header>
    <h2 class="subheading"><%= aPost.body %></h2>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justigy-content-center">
                <%= aPost.body %>
            </div>
        </div>
    </article>
    <p class="post-meta">
        Posted by
        <a href="#!"> <%= aPost.username %> </a>
        on <%= aPost.dateposted.toDateString() %>
    </p>
</div>